<!-- <h1 appBlackBackground>Angular Pipe</h1> -->
<h1 [appBackground]="titleColor" appBackgroundTextColor="green">Angular Pipe</h1>

<!-- <h1 appExist="hidden">title</h1> -->

<!-- <h1 appResizing = "inline-block" appResizing = "appWidth" appResizing = "appHeight">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, illo! Illum odit alias esse optio, quam maxime, cum fugit, eligendi debitis nesciunt earum deserunt accusantium? Deleniti aliquam placeat explicabo tenetur!</h1> -->

<!-- <h1 appString = "string">string</h1> -->


<app-list 
[listBackgroundColor]="listData.background" 
[userList]="listData.usersArrayInt"
></app-list> <!--input userList di appListComponent da users di appComponent-->

<app-buttons 
(userChanged)="onUserChanged()"          
(arrayChanged)="onArrayChanged($event)"
(userAdded)="onUserAdded($event)"
></app-buttons>
<!--output (funzione) del buttonComponent che emette un evento (output = eventEmitter) che viene letto dalla ="funzione()" dell'appComponent-->

<router-outlet></router-outlet>



